<form action="/login" method="post" class="login"> 
    <% if(err) { %>
        <div> <%= err %> </div>
    <% } %>

    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">Login</button>

    <br>
    <p>Don't have an account?</p>
    <button id="register"> <a href="/register">Register</a></button>
   
</form>