<link rel="stylesheet" href="/style/register.css">

<form action="/register" method="post"> 
    <h3>Register</h3>
    <% if(err) { %>
        <div> <%= err %> </div>
    <% } %>

    <input type="text" name="username" id="" placeholder="Username">
    <input type="email" name="email" id="" placeholder="Email">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">Register</button>
    
    <p>Already have an account? </p><a href="/">Login <u>here</u></a> 
</form>